<div class='container'>
  <h1>Music.am</h1>
  {{# link-to "cart" }}VIEW CART {{/link-to}}
  <p class='lead'>Buy albums on Music.am. The only place you can listen and buy music!</p>
  <hr>
  {{outlet}}
  
  <div class='text-muted'><small>Foot</small></div>
</div>
